.DS_Store
._.DS_Store
Braker2/Log.out
Braker2/all_apo_no_normLog.final.out
Braker2/all_apo_no_normLog.out
Braker2/all_apo_no_norm_STARgenome/
Braker2/all_apo_no_norm_STARpass1/
Braker2/all_apo_tnormLog.final.out
Braker2/all_apo_tnormLog.out
Braker2/br.o18998031
Braker2/braker2_res2/
Braker2/cutadaptLoop.sh
Braker2/star2braker2.sh
Braker2/star_all_andie_reads.sh
EVM/ast_EVM.all.gff3
EVM/ast_EVM.all.gff3.67535.inx
EVM/ast_EVM.all.gff3.92061.inx
EVM/ast_EVM.all.gff3.97706.inx
EVM/ast_EVM.all.gff3.97736.inx
EVM/atrangia_partitions_list.out
EVM/evm.o20617837
EVM/evm.o20619134
EVM/evm.o20681106
EVM/evm.o20681287
EVM/evm.o20681364
EVM/evm.o20744788
EVM/evm.out.fa
EVM/evm_excute.o20619658
EVM/evm_excute.o20655512
EVM/evm_excute.o20680042
EVM/evm_output/
EVM/input_gffs/
EVM/summary.txt
EVM/tRNAscan/
GAG/apoculata_cds_v2.0.fasta
GAG/aug_cds.o25393829
GAG/gag.o20707317
GAG/gag_annotation_fixed/
GAG/gffread.o24177132
McScanX/am_ap/
McScanX/apoc_amil/
McScanX/apoc_xenia/
McScanX/as_ap/
McScanX/mcscan.o21915136
McScanX/mcscan.o21915791
McScanX/mcscan.o22212815
McScanX/mcscan.o22214780
McScanX/mcscan.o22215362
McScanX/orthogroups_for_mcscan_amil_xenia.txt
McScanX/orthogroups_for_mcscan_apalm_amil.txt
McScanX/orthogroups_for_mcscan_apoc_amil.txt
McScanX/orthogroups_for_mcscan_apoc_palm.txt
McScanX/orthogroups_for_mcscan_xenia.txt
McScanX/xe_am_as/
PASA/alignAssembly.config
PASA/decon_PASA/
RepeatMaskMod/
blast/bestHits/
blast/ncbi_results/
blast/trembl_results/
blast/uniprot_results/
busco/
exonerate/AS_euk_exonerate.gff3
exonerate/AS_exon_euk_all.fasta
exonerate/Astrsplit.o18274561
exonerate/convert_exon.o20616571
exonerate/exon.o18277636
exonerate/exon.o18277716
exonerate/exon.o18363956
exonerate/exon.o18364168
exonerate/exon.o18364182
exonerate/exon.o18364916
exonerate/exon.o18366620
exonerate/exon.o18366637
exonerate/exon.o18428975
final_assembly/
genemark/data/
genemark/genemark-ES.gff3
genemark/genemark.gtf
genemark/gm_ap.o18676457
genemark/gm_ap.o18677463
genemark/gm_ap.o18678007
genemark/gmes.log
genemark/info/
genemark/output/
genemark/rn.o18710843
genemark/rn.o20616394
genemark/rn.o20616421
genemark/run.cfg
genemark/run/
mito_genome/NOVOPlasty_assemblies/Circularized_assembly_1_Astrangia_mito2.fasta
mito_genome/NOVOPlasty_assemblies/Circularized_assembly_1_Astrangia_mito_52.fasta
mito_genome/NOVOPlasty_assemblies/config.txt
mito_genome/NOVOPlasty_assemblies/log_Astrangia_mito2.txt
mito_genome/NOVOPlasty_assemblies/log_Astrangia_mito_52.txt
mito_genome/spades_assembly/bam2fastq2.sh
mito_genome/spades_assembly/comp.o32969170
mito_genome/spades_assembly/comp.sh
mito_genome/spades_assembly/cp.sh
mito_genome/spades_assembly/cp2.sh
mito_genome/spades_assembly/mito_52_align_R1.fq.gz
mito_genome/spades_assembly/mito_52_align_R2.fq.gz
mito_genome/spades_assembly/mito_84_align_R1.fq.gz
mito_genome/spades_assembly/mito_84_align_R2.fq.gz
mito_genome/spades_assembly/spades2.sh
mito_genome/spades_assembly/spades3.sh
orthofinder/apoc_longest_iso.fa
orthofinder/comp.sh
orthofinder/input_files/
orthofinder/iso_labels.txt
orthofinder/lengths.txt
orthofinder/longest_iso_ids.txt
orthofinder/of.o21001486
orthofinder/of.o21847495
orthofinder/of.o21977694
orthofinder/of.o22105888
orthofinder/of.o22851276
orthofinder/of.o26640820
orthofinder/of.o26640941
orthofinder/of.o32383582
orthofinder/of.o35328171
orthofinder/of.o35328230
orthofinder/sorted_apoc_ids.txt
orthofinder/table_filter.txt
reads/
second_PASA/11.ooc
second_PASA/__pasa_decon_ast_spadesTRNA_db.sqlite_SQLite_chkpts.cmds_log
second_PASA/__pasa_decon_ast_spadesTRNA_db.sqlite_SQLite_chkpts/
second_PASA/alignAssembly.config
second_PASA/alignment.validations.output
second_PASA/annotCompare.config
second_PASA/blat.spliced_alignments.gff3
second_PASA/blat_out_dir/
second_PASA/decon_ast_spadesTRNA_db.sqlite.assemblies.fasta
second_PASA/decon_ast_spadesTRNA_db.sqlite.failed_blat_alignments.gff3	
second_PASA/decon_ast_spadesTRNA_db.sqlite.failed_blat_alignments.gtf
second_PASA/decon_ast_spadesTRNA_db.sqlite.failed_gmap_alignments.gff3
second_PASA/decon_ast_spadesTRNA_db.sqlite.failed_gmap_alignments.gtf
second_PASA/decon_ast_spadesTRNA_db.sqlite.gene_structures_post_PASA_updates.50835.bed
second_PASA/decon_ast_spadesTRNA_db.sqlite.gene_structures_post_PASA_updates.70130.bed
second_PASA/decon_ast_spadesTRNA_db.sqlite.gene_structures_post_PASA_updates.70130.gff3
second_PASA/decon_ast_spadesTRNA_db.sqlite.gene_structures_post_PASA_updates.70130.gff3.50838.inx
second_PASA/decon_ast_spadesTRNA_db.sqlite.pasa_alignment_assembly_building.ascii_illustrations.out
second_PASA/decon_ast_spadesTRNA_db.sqlite.pasa_assemblies.bed
second_PASA/decon_ast_spadesTRNA_db.sqlite.pasa_assemblies.gff3
second_PASA/decon_ast_spadesTRNA_db.sqlite.pasa_assemblies.gtf
second_PASA/decon_ast_spadesTRNA_db.sqlite.pasa_assemblies_described.txt
second_PASA/decon_ast_spadesTRNA_db.sqlite.polyAsites.fasta
second_PASA/decon_ast_spadesTRNA_db.sqlite.valid_blat_alignments.bed
second_PASA/decon_ast_spadesTRNA_db.sqlite.valid_blat_alignments.gff3
second_PASA/decon_ast_spadesTRNA_db.sqlite.valid_blat_alignments.gtf
second_PASA/decon_ast_spadesTRNA_db.sqlite.valid_gmap_alignments.bed
second_PASA/decon_ast_spadesTRNA_db.sqlite.valid_gmap_alignments.gff3
second_PASA/decon_ast_spadesTRNA_db.sqlite.valid_gmap_alignments.gtf
second_PASA/evm_update2.fasta
second_PASA/evm_update2_clean.gff3
second_PASA/gmap.spliced_alignments.gff3
second_PASA/gmap.spliced_alignments.gff3.completed
second_PASA/pasa_2.o20682988
second_PASA/pasa_2.o20689849
second_PASA/pasa_2.o20689934
second_PASA/pasa_2.o20696922
second_PASA/pasa_2.o20706508
second_PASA/pasa_run.log.dir/
transcriptome/.DS_Store
transcriptome/._.DS_Store
transcriptome/rnaspades/README.txt
transcriptome/rnaspades/align_stats.txt
transcriptome/rnaspades/blast_res/
transcriptome/rnaspades/busc_norm_spades/
transcriptome/rnaspades/decon_transcripts.fasta
transcriptome/rnaspades/filter_sym_blast.R
transcriptome/rnaspades/filter_sym_blast.Rmd	
transcriptome/rnaspades/filtered_sym_blast.txt
transcriptome/rnaspades/rnaquast_res/
transcriptome/rnaspades/spades_all/
transcriptome/rnaspades/sym_hit_transcriptIDs.txt
wgd/storage/work/khs18/wgd_ast/filtered/
wgd/storage/work/khs18/wgd_ast/get_annot/apoc_long_trans_cds.fasta
wgd/storage/work/khs18/wgd_ast/get_annot/apoculata_v2.cds.fasta
wgd/storage/work/khs18/wgd_ast/get_annot/longest_iso_ids.txt	
wgd/storage/work/khs18/wgd_ast/get_annot/rst
wgd/storage/work/khs18/wgd_ast/get_annot/rst1
wgd/storage/work/khs18/wgd_ast/get_annot/rub
wgd/storage/work/khs18/wgd_ast/get_annot/table_filter.txt
wgd/storage/work/khs18/wgd_ast/get_annot/translatable_cds.fasta
wgd/storage/work/khs18/wgd_ast/get_annot/wgd.o25398377
wgd/storage/work/khs18/wgd_ast/get_annot/wgd.o25459052
wgd/storage/work/khs18/wgd_ast/get_annot/wgd.o25473881	
wgd/storage/work/khs18/wgd_ast/get_annot/wgd.o25474311
wgd/storage/work/khs18/wgd_ast/get_annot/wgd.o25474433
wgd/storage/work/khs18/wgd_ast/get_annot/wgd_blast/
wgd/storage/work/khs18/wgd_ast/get_annot/wgd_hist.svg
wgd/storage/work/khs18/wgd_ast/get_annot/wgd_ksd/
wgd/storage/work/khs18/wgd_ast/get_annot/wgd_syn/
wgd/wgd_ast.tar.gz
second_PASA/decon_ast_spadesTRNA_db.sqlite.failed_blat_alignments.gff3
transcriptome/rnaspades/filter_sym_blast.Rmd
wgd/storage/work/khs18/wgd_ast/get_annot/longest_iso_ids.txt
wgd/storage/work/khs18/wgd_ast/get_annot/wgd.o25473881
